.wantDiv-text {
    vertical-align: middle;
    line-height: inherit;
}

.wantDiv-1 {
    height: 20%;
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
}

.wantDiv-2 {
    height: 20%;
    background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
}

.wantDiv-3 {
    height: 20%;
    background: linear-gradient(135deg, #5ee7df 0%, #b490ca 100%);
}

.wantDiv-4 {
    height: 20%;
    background: linear-gradient(135deg, #c3cfe2 0%, #c3cfe2 100%);
}

.introBg {
    background-image: url('../../assets/friends1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.whoWeAreBg {
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}